/.ipynb_checkpoints/Camera test-checkpoint.ipynb
/.ipynb_checkpoints/Find aruco, move robot hoop there-checkpoint.ipynb
/.ipynb_checkpoints/find_2DandTRC-checkpoint.ipynb
/photos/foto1.jpg
/photos/foto2.jpg
/photos/foto3.jpg
/photos/foto4.jpg
/photos/foto5.jpg
/photos/foto6.jpg
/photos/foto7.jpg
/data/image0.png
/augumented_data/image0_a.jpg
/data/image1.png
/augumented_data/image1_a.jpg
/data/image2.png
/augumented_data/image2_a.jpg
/data/image3.png
/augumented_data/image3_a.jpg
/data/image4.png
/augumented_data/image4_a.jpg
/data/image5.png
/augumented_data/image5_a.jpg
/data/image6.png
/augumented_data/image6_a.jpg
/data/image7.png
/augumented_data/image7_a.jpg
/data/image8.png
/augumented_data/image8_a.jpg
/data/image9.png
/augumented_data/image9_a.jpg
/data/image10.png
/augumented_data/image10_a.jpg
/data/image11.png
/augumented_data/image11_a.jpg
/data/image12.png
/augumented_data/image12_a.jpg
/augumented_data/image13_a.jpg
/augumented_data/image14_a.jpg
/augumented_data/image15_a.jpg
/augumented_data/image16_a.jpg
/augumented_data/image17_a.jpg
/augumented_data/image18_a.jpg
/augumented_data/image19_a.jpg
